* {
    box-sizing: border-box;
}
body {
    background-color: hsl(210, 46%, 95%);
    padding: 0 5%;
    font-family: Manrope;
}
.container {
   display: flex;
   flex-direction: column;
}
.image {
    width: 327px;
    height: 200px;
}

.image img{
    border-radius: 5% 5% 0 0;
    height: 110%;
    width: 100%;
    margin-top: 20px;
}
.paragraph1 {
    font-size: 20px;
    font-weight: bold;
    color: hsl(217, 19%, 35%);
}
.paragraph2 {
    font-size: 13px;
    font-weight: normal;
    color: hsl(214, 17%, 51%);
    margin-bottom: 48px;
}
.content {
    background-color: #fff;
    width: 327px;
    padding: 15px 30px;
    border-radius: 0 0 5% 5%;
}
.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.avatar-name {
    font-size: 13px;
    font-weight: bold;
    color: hsl(217, 19%, 35%);
    margin: 0;
    padding: 0;
}
.date {
    font-size: 13px;
    color: hsl(214, 17%, 51%);
    margin: 0;
    padding: 0;
}
.share-circle {
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 49px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.share-circle img{
    height: 13px;
    width: 15px;
}
.attribution { 
    font-size: 11px;
     text-align: center; 
    }
    .attribution a {
         color: hsl(228, 45%, 44%); 
    text-decoration: none; 
}